/* .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} */

#header {
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.12);
    position: sticky;
}


.bomba {
    display: none;
}

.modal {
    background-color: #fff;
    width: 428px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.backdrop.bomba {
    /* opacity: 0;
    pointer-events: none; */
    /* transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.modal-title {
    font-weight: 700;
    font-size: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.modal-close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    right: 8px;
    top: 8px;
    position: absolute;
    /* padding: 5px 7px 5px 6px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
}
.modal-close:hover,
.modal-close:focus {
    fill: #0060fe;
}

.modal-download {
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: #0060fe;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 15px 40px;
    color: #fff;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.227);
    font-weight: 500px;
    font-size: 15px;
    margin-top: 20px;
}
.modal-download:hover,
.modal-download:focus {
    border: none;
    background-color: #dfe8f6;
    color: #0060fe;
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

.download-btn {
    border: 2px solid #0060fe;
    border-radius: 5px;
    width: 80px;
display: flex;
justify-content: center;
padding: 3px;
}

.download-btn:hover,
.download-btn:focus,
.download-btn:active {
    border: none;
    background-color: #0060fe;
    color: #fff;
}

.modal-atention {
    font-style: italic;
    color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    font-weight: 600px;
}

.rotate {
    background-color: rgba(255, 248, 38, 0.929);
    transform: rotate(45deg);
    border: 1.5px solid rgb(149, 14, 14);
border-radius: 3px;
    width: 20px;
    height: 20px;
}

.before {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-style: normal;
    font-weight: 700px;
    width: 15px;
    height: 15px;
    color: rgb(149, 14, 14);
    transform: rotate(-45deg);
    font-style: normal;

}

.atention-rotate {
    display: flex;
}


.atention-title {
    margin-left: 8px;
    margin-right: 8px;
}

.modal-label {
    display: flex;
    justify-content: center;
}

.checkbox {
    margin-right: 4px;
}
.download-svg {
    margin-right: 7px;
}

@media(max-width:767px){.modal{width:80%} .modal-atention{margin-top: 0px;}}

.checked {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
}
.checked-text {
    margin-bottom: 0;
    margin-left: 7px;
}

.checked-img {
    width: 15px;
    display: block;
    height: 15px;
    padding-bottom: 3px;
}

.checked > .checked-text > a {
    color: rgb(8, 171, 8);
}
.checked > .checked-text > a:hover {
    color: rgb(35, 136, 7);
} 
@media(max-width:767px){.modal{padding-top: 10px;} .checked{margin-top: 9px;} .modal-atention{margin-top: 10px;}}
